In [1]:
import pandas as pd

In [ ]:
from
where 
group by
select 
distinct

In [2]:
a = [1,2,3,4,5,6,7,8]
b = [8,7,6,5,4,3,2,1]
intermediate_dictionary = {'A':a, 'B':b}
df = pd.DataFrame(intermediate_dictionary)
df

   A  B
0  1  8
1  2  7
2  3  6
3  4  5
4  5  4
5  6  3
6  7  2
7  8  1

In [61]:
double = lambda x: x*2

In [62]:
double(3)

6

In [2]:
# Импортируем необходимые библиотеки
import pandas as pd
from tqdm import tqdm

# Создадим пример датафрейма
data = {
    "tax_num": [1, 1, 2, 2, 3, 3, 3],
    "field1": [None, 2, 3, None, 5, None, 7],
    "field2": [1, None, 3, 4, None, 6, None]
}
df = pd.DataFrame(data)

# Создадим пример датафрейма с правилами
filtered_pusto_df = pd.DataFrame({
    "Название поля": ["field1", "field2"],
    "На что менять": [1.0, 2.0]
})

# Функция заполнения пропущенных значений с прогресс-баром
def fill_missing_values(df, filtered_pusto_df):
    df_computed = df.copy()

    for index, row in tqdm(filtered_pusto_df.iterrows(), total=filtered_pusto_df.shape[0], desc="Processing fields"):
        field_name = row['Название поля']
        action = row['На что менять']
        if field_name in df_computed.columns:
            tax_nums = df_computed['tax_num'].unique()
            for tax_num in tqdm(tax_nums, desc="Processing tax_nums", leave=False):
                condition = df_computed['tax_num'] == tax_num
                column_values = df_computed[condition][field_name]

                if column_values.notnull().any():
                    mean_value = column_values.mean()  # Среднее значение без учета NaN
                    df_computed.loc[condition, field_name] = df_computed.loc[condition, field_name].fillna(mean_value)
                else:
                    fill_value = {1.0: 0, 2.0: 999999999999999}.get(action, np.nan)
                    df_computed.loc[condition, field_name] = df_computed.loc[condition, field_name].fillna(fill_value)

    return df_computed

# Применим функцию к датафрейму
updated_df = fill_missing_values(df, filtered_pusto_df)

# Выведем результат
updated_df.head()

Processing fields:   0%|                                                                         | 0/2 [00:00<?, ?it/s]
Processing tax_nums:   0%|                                                                       | 0/3 [00:00<?, ?it/s]

Processing tax_nums:   0%|                                                                       | 0/3 [00:00<?, ?it/s]
Processing fields: 100%|████████████████████████████████████████████████████████████████| 2/2 [00:00<00:00, 145.55it/s]

   tax_num  field1  field2
0        1     2.0     1.0
1        1     2.0     1.0
2        2     3.0     3.0
3        2     3.0     4.0
4        3     5.0     6.0